<div class="well">
<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control"  %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration, class:"form-control" %>
  </div>
  <div class="field">
    <div class="row">
    <% Genre.all.each do |genre| %>
      <div class="col-md-2">
        <%= f.label :genre_id, genre.name %>
        <%= f.radio_button :genre_id, genre.id, class:"form-control" %>
      </div>
    <% end %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
