<p id="notice"><%= notice %></p>

<h1>Listing Songs <%= link_to "Ordenar", songs_path(sort: "name", q: params[:q]) %> </h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Genres</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.duration %></td>
        <td><%= link_to song.genre.try(:name), songs_path(q: song.genre.try(:name)) %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
            <%= form_for([song, UserSong.new]) do |f| %>
            <%= f.submit :agregar %>
            <% end %>

        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
